footer {
    line-height: 80px;
    height: 80px;

    color: white;
    background-color: black;
}
.App-logo {
    display: inline-block;
    width: var(--nav-height);
    height: var(--nav-height);
    position: absolute;
    left: 0;
    margin-left: 2%;
}