body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --nav-height: 3.80em;
  --navbar-link-size: 14px;
  --global-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

html, body, ul, ol, 
h1, h2, h3, h4, h5, h6,
label, p, a {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6,
label, p, a, button, input, i {
  font-family: var(--global-font-family);
}

ul, ol {
  /* Para quitar los puntos de la izquierda en cada <li> */
  list-style: none;
}

div.Content {
  width: auto;
  margin: 8px 10px 8px 10px;
  /* Para que los hijos o se salgan de este div.Content */
  //Corta todo lo que esta fuela de este elemento
  //overflow: hidden;
}

a, button {
  text-decoration: none;
  color: black;
  border-radius: 0;
  cursor: pointer;

  &:hover, &:visited {
      color: black;
  }
}

input, button, textarea {
  background-color: white;
  border: solid;
  border-color: darkgray;
  border-width: 1px;

  &:focus {
      outline: none;
  }
}

button {
  &:active {
      background-color: blue;
  }
}

a {
  border-color: transparent;
  border: none;
  border-width: 0;
}

%clean-table {
  border: none;
  padding: 0;
  margin: 0;
}

table {
  display: grid;
  border-collapse: collapse;
  border-spacing: 0;

  &, tr, td {
      @extend %clean-table;
  }

  & > thead, & > tbody {
      display: block;
  }

  & thead tr, & tbody tr {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); //solucionar el px
  }

}

:root {
  --nav-height: 80px;
}