.inicio-content {
    scroll-behavior: smooth;
    position: relative;
    .content {
        
        .main-name {
            padding: 1.9% 1.4%;
            margin: 0;
            font-size: 7.5vw;
        }
        .sub-content {
            // height: 100vh;
            &::before {
                height: var(--nav-height);
                width: 100%;
                display: block;
                content: '';
            }
        }
    }
}

